{% extends '/learning/base_learning.html' %}

{% block body %}
<div class="container mb-0 justify-content-center">
    <div class="row">
        <div class="header p-4">
            <div class="main-header container-fluid text-center">
                <h1>Физические величины</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Обозначение</th>
                    <th scope="col">Единицы измерения</th>
                </tr>
            </thead>
            <tbody>
            {% for quantity in quantities %}
                <tr>
                    <td>{{ quantity.name }}</td>
                    <td>$${{ quantity.symbol }}$$</td>
                    <td>$${{ quantity.unit }}$$</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="container text-center">
    <a href="{{ url_for('learning.theme', level=level, theme_id=theme_id) }}"><button type="button" class="btn btn-primary question">Назад</button></a>
</div>

{% endblock %}